
.header-style {
    background-image: linear-gradient(to right, #4810e41a, #074f5a70);
    .container{
        .logo{
            margin-right: 0.5em;
            font-size: 2em;
            color: #098e9d;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}